%table#posts
  -if @posts.empty?
    %tr.post
      %td Sorry, we're empty!
  - @posts.each do |post|
    %tr.post
      %td
        %span.votes
          = votes_for(post)
          = link_to '+',{ :controller => :posts, :action => 'upvote' , :post_id => post.id}, :remote => true
      %td.title
        = link_to post.title,{ :controller => :posts, :action => 'switch_vid', :post_id => post.id }, :remote => true
        %small= basic_url(post.url)
        %br
        %span.url= time_ago_in_words(post.created_at) + " ago"
      - if post.user_id?
        %td.user= User.find(post.user_id).username
      %td.comments= pluralize(post.comments.count, 'comment')
