%table#posts
  -if @posts.empty?
    %tr.post
      %td Sorry, we're empty!
  - @posts.each do |post|
    %tr.post
      %td
        %span.votes
          = votes_for(post)
          = link_to '+', :controller => :posts, :action => 'upvote', :post_id => post.id
      %td.title
        = link_to post.title, post
        %small= basic_url(post.url)
        %br
        %span.url= time_ago_in_words(post.created_at) + " ago"
      - if post.user_id?
        %td.user= User.find(post.user_id).username
      %td.comments= pluralize(post.comments.count, 'comment')

-if user_signed_in?      
  .newpost= link_to 'New Post', new_user_post_path(:user_id => @user.id)
  
= will_paginate @posts

/  
  %h1 Listing posts

  %table
    %tr
      %th Title
      %th Url
      %th Votes
      %th Score
      %th
      %th
      %th

    - @posts.each do |post|
      %tr
        %td= post.title
        %td= post.url
        %td= post.votes
        %td= link_to 'Show', post
        %td= link_to 'Edit', edit_post_path(post)
        %td= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete

  %br
  

