

.comment_link= link_to @post.title, @post.url

.video= content_tag(filters(@post.url))

%table
  - @post.comments.each do |c|
    %tr.comment
      %td
        %span.content= c.content
        %br
        %span.posted= time_ago_in_words(c.created_at) + " ago"
%br
  
.new_comment= link_to 'new comment', new_post_comment_path( :post_id => @post.id )


