

.comment_link= link_to @post.title, @post.url

%table
  - @post.comments.each do |c|
    %tr.comment
      %td
        %span.content= c.content
        %br
        %span.posted= time_ago_in_words(c.created_at) + " ago"
%br
  
= link_to 'new comment', new_post_comment_path( :post_id => @post.id ), :class => "new_comment"

= vimeo(@post.url)
