
  
%head
  %title= "Shreddy News - #{@title}"
  = stylesheet_link_tag "main", "application"
  /= stylesheet_link_tag "http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css"
  = javascript_include_tag 'application'
  = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"
  = csrf_meta_tag
%body.all
  #header.topbar
    .company= link_to "Shreddy News", posts_path
    .new= link_to "| New Posts", new_index_path
    .invite= link_to "new here?", page_path("new") unless user_signed_in?
    .sign
      -if user_signed_in?
        ="hello #{current_user.username}"
        %br
        =link_to 'sign out', destroy_user_session_path, :method => 'delete'
      -else  
        = link_to 'sign in', new_user_session_path
        %br
        = link_to 'sign up', new_user_registration_path
  #inner
    =yield
  #bottom
    %p Copyright Shreddy Ventures 2011


